@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.center{
    text-align: center;
    color: red;
    padding: 10px;

}
.card-padre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .ey{
        display: grid;
        grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
        background: wheat;
        img{
            width: 100%;
            position: relative;
            top: 20px;
            background: transparent;
        }
    }
}
.btn-producto{
    padding: 10px;
    border: none;
    background: #FFAD69;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}
.btn{
    text-align: center;
    width: 100%;
    .btn-edit{
        padding: 10px 30px;
        border: 1px solid black;
        background: transparent;
        border-radius: 20%;
    }
    .btn-edit:hover{
        background: wheat;
        font-size: 1em;
        transition: 2s;
    }
}
.container {

.MensajeDeCompra{
    font-size: 1em;
    font-weight: bold;
    color: #000;
    text-align: justify;
    border: 1px solid black;
    padding: 20px ;
}
}